---
import Base from '../layouts/Base.astro'
---

<Base title="About" description="About Alessio Fanelli">
  <article class="prose">
    <h1>About</h1>

    <h2>About Me</h2>
    <p>I was born and raised in Rome, but now live in the Bay Area. I'm a Partner at <a href="https://decibel.vc">Decibel</a>, where I lead Seed and Series A rounds in AI, infrastructure software, security, and dev tools. I'm also the CTO of the firm, leading the development of our internal software platform that we use for programmatic sourcing, tracking projects, etc.</p>

    <p>This blog has a lot of my writing; I also co-host the <a href="https://latent.space/">Latent Space podcast</a>, the largest AI Engineers community, with my friend swyx. In 2023 we had well over a million views.</p>

    <p>In my spare time, I play soccer, Magic The Gathering, as well as some FPS games (mostly COD / CS). Ping me about that any time! :)</p>

    <h2>Contact</h2>
    <p>alessio[at]decibel.vc or <a href="https://twitter.com/fanahova">@FanaHOVA</a></p>
  </article>
</Base>
